/*--------------------------------------------------------------
# Profile Section
--------------------------------------------------------------*/
.section.profile {
  background-color: var(--surface-color);
  width: 100%;
}

.section.profile .border {
  transition: transform 0.3s, box-shadow 0.3s;
}

.section.profile .border:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.section.profile h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333333;
}

.section.profile .card-title {
  font-weight: 500;
  color: #3f3f3f;
}

.section.profile p {
  font-size: 1rem;
  color: #333333;
}

.section.profile .text-muted {
  font-size: 0.9rem;
}

.section.profile .btn-primary {
  background-color: #D3791A;
  border-color: #D3791A;
  font-size: 0.9rem;
}

.section.profile .btn-primary:hover {
  background-color: #b36517;
  border-color: #b36517;
}

/* Pagetitle */
.pagetitle {
  width: 100%;
}

.pagetitle h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
}

.pagetitle .breadcrumb {
  font-size: 0.7rem;
}

/* Responsive Design */
@media (max-width: 991px) {
  .section.profile .col-lg-4,
  .section.profile .col-lg-8 {
    margin-bottom: 20px;
  }
}